#include <behaviors/input_processor_absolute_to_relative.dtsi>
#include <behaviors/input_processor_gestures.dtsi>

&i2c0 {
    status = "okay";

    glidepoint: glidepoint@2a {
        compatible = "cirque,pinnacle";
        reg = <0x2a>;
        status = "okay";

        dr-gpios = <&gpio0 2 GPIO_ACTIVE_HIGH>;
        absolute-mode;
        absolute-mode-scale-to-width = <1024>;
        absolute-mode-scale-to-height = <1024>;
        absolute-mode-clamp-min-x = <0>;
        absolute-mode-clamp-max-x = <2047>;
        absolute-mode-clamp-min-y = <0>;
        absolute-mode-clamp-max-y = <1535>;
    };
};

/ {
    glidepoint_listener: glidepoint_listener {
        compatible = "zmk,input-listener";
        device = <&glidepoint>;
        input-processors = <&zip_gestures &zip_absolute_to_relative>;
    };
};
